*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.toolbox{
    height: 4.5rem;
    background-color: #222f3e;
    display: flex;
    align-items: center;
}
.toolbox>*{
    margin-left: 4rem;
    border-radius: 3px;
}
.priority{
    height: 3rem;
    width: 16rem;
    background-color: #576574;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.actionbox{
    height: 3rem;
    width:8rem;
    background-color: #576574;
    display: flex;
}
.actionbox>*{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.priority_color{
    height: 2rem;
    width: 3rem;
    background-color: purple;
    border-radius: 3px;
}
.red{
    background-color: #cf6a87;
}
.blue{
    background-color: #778beb;
}
.green{
    background-color: #b8e994;
}
.yellow{
    background-color: #f7d794;
}
.actionbox>*:hover{
    cursor: pointer;
    background-color: #b2bec3;
}
.priority>*:hover{
    cursor: pointer;
    
}
.modal{
    height: 50vh;
    width: 45vw;
    background-color: #f7d794;
    position: absolute;
    top: calc(50% - 25vh + 2.25rem);
    left: calc(50% - 22.5vw);
    display: none;
}
.textmodal{
    resize: none;
    height: 100%;
    width: 75%;
    background-color: #ecf0f1;
    border: none;
    outline: none;
    padding: 2rem;
    font-size: 1.5rem;
}
.colormodal{
    background-color: #535c68;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.color{
    height: 2rem;
    width: 60%;
}
.border{
    border: 3px solid red;
}
.ticket{
    height: 12rem;
    width: 17rem;
    background-color: #f7f1e3;
}
.ticket_color{
    height: 1rem;
    /* background-color: #cf6a87; */
}
.ticket_id{
    height: 2rem;
    padding: 0.6rem;
}
.ticket_text{
    height: calc(100% - 2rem - 1rem);
    padding: 0.6rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}